src/main/resources/META-INF/zk.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://code.zookeeper.com/schema/zk"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:tool="http://www.springframework.org/schema/tool"
	targetNamespace="http://code.zookeeper.com/schema/zk">
	
	<xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xsd:import namespace="http://www.springframework.org/schema/beans"/>
	<xsd:import namespace="http://www.springframework.org/schema/tool"/>

	<xsd:annotation>
		<xsd:documentation><![CDATA[ Namespace support for the zk services. ]]></xsd:documentation>
	</xsd:annotation>
	
	<xsd:element name="config">  
        <xsd:complexType>  
            <xsd:complexContent>  
                <xsd:extension base="beans:identifiedType">  
                    <xsd:attribute name="connect" type="xsd:string" />  
                    <xsd:attribute name="baseSleepTimeMs" type="xsd:int" />  
                    <xsd:attribute name="maxRetries" type="xsd:int" />    
                </xsd:extension>  
            </xsd:complexContent>  
        </xsd:complexType>  
    </xsd:element>  
    
    <xsd:element name="client" >
		<xsd:annotation> 
			<xsd:documentation><![CDATA[ zookeeper client ]]></xsd:documentation> 
		</xsd:annotation>
	</xsd:element>
	
	<!-- demo config -->
	<!-- 
		<zk:config id="zkConfigBean" connect="10.10.10.10:2181" baseSleepTimeMs="1000" maxRetries="3"/>
		<zk:client id="zkClientBean" type="curator" ref="zkConfigBean"/>	
	 -->
	
</xsd:schema>